<h1>This is the Node's index page<h1>
<h1>Node's os:{{ansible_os_family}}<h1>
<h1>Node's ip:{{ansible_all_ipv4_addresses}}<h1>
<h1>Node's long ip:{{ansible_nodename}}<h1>
<h1>Node's java version:{{javaPackage_ubuntu}}<h1>